<section class="benefit">
  <div class="container">
    <div class="benefit-wrap">
      <h2 class="benefit-title">How can we help your Business ?</h2>
      <p class="benefit-desc">
        We build readymade websites, mobile applications, and elaborate online
        business services.
      </p>
    </div>
    <ul class="benefit-list list">
      <li class="benefit-item">
        <div class="benefit-icon-wrap search">
          <svg class="benefit-icon" width="74" height="74">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </div>
        <h3 class="benefit-item-title">Business Idea Planning</h3>
        <p class="benefit-item-desc">
          We present you a proposal and discuss niffty-gritty like
        </p>
      </li>

      <li class="benefit-item">
        <div class="benefit-icon-wrap wallet">
          <svg class="benefit-icon" width="74" height="74">
            <use href="./images/icons.svg#icon-wallet"></use>
          </svg>
        </div>
        <h3 class="benefit-item-title">Financial Planning System</h3>
        <p class="benefit-item-desc">
          Protocols apart from aengage models, pricing billing
        </p>
      </li>
      <li class="benefit-item">
        <div class="benefit-icon-wrap code">
          <svg class="benefit-icon" width="74" height="74">
            <use href="./images/icons.svg#icon-code"></use>
          </svg>
        </div>
        <h3 class="benefit-item-title">Development Website and App</h3>
        <p class="benefit-item-desc">
          Communication protocols apart from engagement models
        </p>
      </li>
      <li class="benefit-item">
        <div class="benefit-icon-wrap chart">
          <svg class="benefit-icon" width="74" height="74">
            <use href="./images/icons.svg#icon-chart"></use>
          </svg>
        </div>
        <h3 class="benefit-item-title">Market Analysis Project</h3>
        <p class="benefit-item-desc">
          Protocols apart from aengage models, pricing billing
        </p>
      </li>
    </ul>
  </div>
</section>
