<section class="clients">
  <div class="container">
    <div class="clients-wrap">
      <h2 class="clients-title">Our Client</h2>
      <p class="clients-desc">
        Several selected clients, who already believe in our service.
      </p>
    </div>
    <ul class="clients-list list">
      <li class="clients-item">
        <svg class="clients-icon" width="150" height="50">
          <use href="./images/icons.svg#icon-google"></use>
        </svg>
      </li>
      <li class="clients-item">
        <svg class="clients-icon" width="160" height="50">
          <use href="./images/icons.svg#icon-airbnb"></use>
        </svg>
      </li>
      <li class="clients-item">
        <svg class="clients-icon" width="160" height="50">
          <use href="./images/icons.svg#icon-uber"></use>
        </svg>
      </li>
      <li class="clients-item">
        <svg class="clients-icon" width="140" height="65">
          <use href="./images/icons.svg#icon-amazon"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
