<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-about-wrap">
        <div class="footer-logoWrap">
          <p class="footer-logo"><span>A+</span>Studio</p>
        </div>
        <p class="footer-desc">
          Leading digital agency with solid design and development expertise. We
          build readymade websites, mobile applications, and elaborate online
          business services.
        </p>
        <ul class="footer-social-list list">
          <li class="footer-social-item">
            <svg class="footer-social-icon" width="36" height="36">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="footer-social-item">
            <svg class="footer-social-icon" width="36" height="36">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </li>
          <li class="footer-social-item">
            <svg class="footer-social-icon" width="36" height="36">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </li>
        </ul>
      </div>
      <ul class="footer-list-list list">
        <li class="footer-list-item">
          <h3 class="footer-list-title">What We Do</h3>
          <ul class="footer-services-list list">
            <li class="footer-services-item">Web Design</li>
            <li class="footer-services-item">App Design</li>
            <li class="footer-services-item">Social Media Manage</li>
            <li class="footer-services-item">Market Analysis Project</li>
          </ul>
        </li>
        <li class="footer-list-item">
          <h3 class="footer-list-title">Company</h3>
          <ul class="footer-services-list list">
            <li class="footer-services-item">About Us</li>
            <li class="footer-services-item">Career</li>
            <li class="footer-services-item">Become Investor</li>
          </ul>
        </li>
        <li class="footer-list-item">
          <h3 class="footer-list-title">Support</h3>
          <ul class="footer-services-list list">
            <li class="footer-services-item">FAQ</li>
            <li class="footer-services-item">Policy</li>
            <li class="footer-services-item">Business</li>
          </ul>
        </li>
        <li class="footer-list-item">
          <h3 class="footer-list-title">Contact</h3>
          <ul class="footer-services-list list">
            <li class="footer-services-item">WhatsApp</li>
            <li class="footer-services-item">Support 24</li>
          </ul>
        </li>
      </ul>
    </div>
    <p class="footer-copyright">Copyright © 2022 Avi Yansah</p>
  </div>
</footer>
