<header class="header">
  <div class="container">
    <div class="header-logoWrap">
      <p class="header-logo"><span>A+</span>Studio</p>
    </div>
    <nav class="header-nav">
      <ul class="header-list list">
        <li class="header-item">
          <a href="#" class="header-link link">Home</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link link">What We Do</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link link">Service</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link link">Project</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link link">Blog</a>
        </li>
        <li class="header-item">
          <a href="#" class="header-link link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
