<section class="hero">
  <div class="container">
    <div class="hero-wrap">
      <h1 class="hero-title">A Digital Product Agency</h1>
      <p class="hero-desc">
        Leading digital agency with solid design and development expertise. We
        build readymade websites, mobile applications, and elaborate online
        business services.
      </p>
      <button class="hero-button" type="button">Contact Now</button>
    </div>
    <div class="hero-imgWrap">
      <img src="./images/hero-bg.png" alt="Speaker talk" />
    </div>
  </div>
</section>
