.clients {
  .container {
    margin-bottom: 164px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-title {
    font-size: 40px;
    text-shadow: 1px 1px $blackColor;
    margin-bottom: 17px;
  }
  &-desc {
    color: $descColor;
    font-size: 18px;
    line-height: 160%;
    max-width: 336px;
  }
  &-list {
    display: flex;
    gap: 60px;
  }
}
